@charset "UTF-8";

/** PULL QUOTE - CALLOUT BLOCK */
@mixin pull_quote($isMobile) {
  .pull_quote_block {
    background: var(--teal);
    color: var(--white);
    font-size: previewConverter(2.1, $isMobile);
    padding-left: var(--standard_padding_horiz);
    padding-right: var(--standard_padding_horiz);
    text-align: center;

    .quote {
      margin: auto;
      max-width: var(--single_col_width);
      padding-bottom: var(--standard_padding_vert);
      padding-top: var(--standard_padding_vert);

      &::before {
        background: var(--blue);
        content: '';
        height: var(--bar_height);
        left: 0;
        min-height: var(--min_bar_height);
        position: absolute;
        top: 0;
        width: 100%;
      }

      &::after {
        background: var(--blue);
        bottom: 0;
        content: '';
        height: var(--bar_height);
        left: 0;
        min-height: var(--min_bar_height);
        position: absolute;
        width: 100%;
      }

    }

  }

  .half_rounded {
    .pull_quote_block .quote {
      &::before {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &::after {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

    }

  }
}

@include pull_quote(false);

@mixin mobile_small_pull_quote($isMobile) {
  .pull_quote_block {
    .quote {
      font-size: previewConverter(4.5, $isMobile);
    }
  }
}
.cms .mobile_view {
  @include pull_quote(true);
  @include mobile_small_pull_quote(true);
}
@media only screen and (max-width: 1024px) {
  .pull_quote_block {
    .quote {
      font-size: 2.3vw;
    }
  }
}

@media only screen and (max-width: 767px) {
  @include mobile_small_pull_quote(false);
}
