@charset "UTF-8";


$grey-5: #343442;
$grey-4: #59596b;
$grey-3: #9d9da8;
$grey-2: #c6c6cc;
$grey-1: #ededed;



:root {
	--purple_medium: #3F0BAD;


  --grey-5: #343442;
  --grey-4: #59596b;
  --grey-3: #9d9da8;
  --grey-2: #c6c6cc;
  --grey-1: #ededed;
	
  --teal: #3eab93;
	
  --purple_dark: #7331ff;
  --purple_light: #c6bfdd;
	
  --dotted_line_color: #fff;

	--white_cms: #fff;
}
