@charset "UTF-8";

/** BULLETS GRID */
// no vw units used here
.bullet_columns_block {
  background: var(--white);
  padding: var(--standard_padding_vert) var(--standard_padding_horiz);

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  ul {
    list-style-type: none;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  li {
    break-inside: avoid;
    margin-bottom: 1em;
    padding-left: 3.9em;

    .svg {
      left: 0;
      position: absolute;
      top: 0;
      width: 2.8em;

      polygon {
        fill: var(--teal);
      }

      path {
        fill: var(--blue);
      }
    }

  }

}


.bullet_columns_inner li{
  display: block;
  float: left;
  width: calc(46%);
  margin-right: 4%;
  // column-count: 2;
  // column-gap: 8%;
}

.bullets_intro_p {
  margin: 0 auto 3em;
  max-width: 800px;
  text-align: center;
}

@mixin mobile_mid_bullet_cols {
  .bullet_columns_inner {
    column-count: 2;
    column-gap: 5%;
    display: flex;
  }

  .bullet_columns_block {
    li {
      padding-left: 2.2em;

      .svg {
        width: 1.5em;
      }
    }

  }
}

@mixin mobile_small_bullet_cols {
  .bullet_columns_block {
    h2 {
      margin-bottom: 0.5em;
    }

    .bullets_intro_p {
      margin-bottom: 2em;
    }

    .bullet_columns_inner {
      column-count: 1 !important;
    }
  }
}

.cms .mobile_view {
  @include mobile_mid_bullet_cols;
  @include mobile_small_bullet_cols;
}

@media only screen and (max-width: 1024px) {
  @include mobile_mid_bullet_cols;
}


@media only screen and (max-width: 767px) {
  @include mobile_small_bullet_cols;
}
