@charset "UTF-8";


@import 'buttons';

/** POPUP */
@mixin landing_popup($isMobile) {
  .popup {
    align-content: center;
    align-items: center;
    background: hsla(0, 0, 0, 0.9);
    color: var(--white);
    display: flex;
    height: calc(100% - 4rem - 5rem);
    justify-content: center;
    left: 0;
    overflow-y: overlay;
    position: fixed;
    top: 0;
    width: previewConverter(100, $isMobile);
    z-index: 20;
  }

  .popup_inner {
    background: var(--teal);
    color: var(--white);
    min-width: 650px;
    overflow: auto;
    padding: 7%;
    text-align: center;
    width: 50%;

    h1 {
      color: var(--white);
      margin-bottom: 0.1em;
    }

    p {
      font-size: calc(14px + #{previewConverter(0.5, $isMobile)});
      margin-bottom: 1.3em;
    }

  }

  .donate_popup {
    .donate_buttons {
      font-size: previewConverter(3.5, $isMobile);
      justify-content: space-between;

      .donation_amount {
        background: var(--yellow);
        color: var(--blue);
        flex-grow: 0;
        margin-bottom: 3%;
        margin-right: 0 !important;
        width: 48.5%;

        &:last-child {
          border-color: var(--blue);
          color: var(--white);

          &:hover {
            background: var(--blue);
          }
        }

      }

    }

  }

  .signup_popup {
    input[type='text'],
    input[type='email'] {
      background: var(--blue);
      color: var(--white);

      &:focus {
        background: var(--yellow);
        color: var(--blue);
      }
    }

    button {
      border-bottom-color: var(--blue);
      color: var(--white);
      display: block;
      margin-left: auto;

      margin-top: 0.3em;

      svg * {
        stroke: var(--white);
      }

    }
  }



  .general_landing_popup {
    .btn_style-2 {
      background: var(--blue);
      color: var(--white);
      font-size: 120%;
    }

  }


  .popup_close_button {
    @extend .menu_button;
    display: block !important;
    height: 2em;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    width: 2em;
  }
}

@mixin mobile_mid_landing_popup($isMobile) {
  .popup_inner {
    min-width: inherit;
    width: 70%;

    .donate_buttons {
      font-size: previewConverter(5, $isMobile);
    }
  }
}

@mixin mobile_small_landing_popup($isMobile) {
  .popup_inner {
    min-width: inherit;
    padding-bottom: 15%;
    padding-top: 15%;
    width: 90%;

    .donate_buttons {
      font-size: previewConverter(7, $isMobile);

      .donation_amount {
        margin-right: 0;
        width: 100%;
      }
    }
  }
}

@include landing_popup(false);

.cms .mobile_view {
  @include landing_popup(true);
  @include mobile_mid_landing_popup(true);
  @include mobile_small_landing_popup(true);

  .popup {
    height: calc(100vh - 4rem - 5rem);
    
    .popup_inner {
      max-height: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  @include mobile_mid_landing_popup(false);
}

@media only screen and (max-width: 767px) {
  @include mobile_small_landing_popup(false);
}
