import React from 'react';

import useStyles from './{{dashCase name}}.style'

const {{pascalCase name}} = props => {
  const classes = useStyles(props)

  return (
    <div className={classes.container}>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};
