import React from 'react'

import { useDispatch, useSelector } from 'react-redux'

import useStyles from './{{dashCase name}}.style'

const {{pascalCase name}} = props => {
  const classes = useStyles(props)

  const dispatch = useDispatch()

  const state = useSelector(state => state)

  return (
    <div>
      {{name}}
    </div>
  )
}

export default {{pascalCase name}}
