import React from 'react'

import { useDispatch, useSelector } from 'react-redux'

const {{ pascalCase name }} = () => {
const dispatch = useDispatch()

const state = useSelector(state => state)

return (
<div>
  {{ name }}
</div>
)
}

export default {{ pascalCase name }}
